body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: 1.7em;
    text-align: left;
}

p {
    padding: 5px 0;
    color: #353535;
}

a {
    text-decoration: none;
    color: #888888;
}

a:hover {
    color: #cccccc;
}

h1 {
    font-size: 37px;
    font-weight: bold;
    padding: 10px 0;
    color: #353535;
    line-height: 1em;
}

h3 {
    font-size: 24px;
    padding: 5px 0;
    color: #353535;
}

.clr {
    clear: both;
}

.pull-right {
    float: right;
    padding: 10px;
}

.pull-left {
    float: left;
    padding: 10px;
}

.image100 {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
    overflow: auto;
    clear: both;
}

.main-header {
    background-color: rgba(0, 0, 0, 0);
    border-top: #ebbdbe 35px solid;
    overflow: auto;
    width: 100%;
    box-shadow: 0 3px 3px -3px;
}

.main-header .logo {
    width: 15%;
    float: left;
    padding-top: 10px;
}

.main-header .main-nav {
    width: 52%;
    float: right;
    padding-top: 29px;
}

.main-header .main-nav ul {
    float: right;
}

.main-nav ul li {
    float: left;
    display: inline;
    margin-right: 5px;

}

.main-nav ul li a {
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    border-bottom: #ebbdbe solid 2px;
    padding-bottom: 3px;
}

#showcase {
    padding: 50px 0;
    margin-top: 2px;
    background: #eceded url(../images/kakku/SAM_4393.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px #cccccc solid;
}

.showcase-right {
    width: 50%;
    float: right;
}

.showcase-right img {
    width: 100%;
}

.showcase-left {
    width: 45%;
    float: left;
}

/*slideshow-1*/

.slideshow-1 {
    margin: 0px auto;
    position: relative;
    width: 280px;
    height: 240px;
    padding: 0px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 8px;

}

.slideshow-1 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow-1 img {
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 0px;
    box-sizing: border-box;
    border-radius: 8px;
}


/*slideshow-2*/

.slideshow-2 {
    margin: 0px auto;
    position: relative;
    width: 280px;
    height: 240px;
    padding: 0px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
}

.slideshow-2 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow-2 img {
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 0px;
    box-sizing: border-box;
    border-radius: 8px;
}

/*slideshow-3*/

.slideshow-3 {
    margin: 0px auto;
    position: relative;
    width: 280px;
    height: 240px;
    padding: 0px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
}

.slideshow-3 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slideshow-3 img {
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 0px;
    box-sizing: border-box;
    border-radius: 8px;
}



/*boxes*/

.box3 {
    width: 33%;
    float: left;
    overflow: auto;
    padding-top: 20px
}

/*.box3 img {
    float: left;
    padding: 5px 10px 0 0;
}*/

#content {
    overflow: auto;
    width: 67%;
    float: left;
    margin-top: 20px;
}

#sidebar {
    width: 30%;
    float: right;
    margin-top: 20px;
    padding-left: 10px;
}

ul.list-group {
    border: 1px #cccccc solid;
    border-radius: 5px;
    padding: 10px 20px;
}

.list-group li {
    padding: 5px 0;
    border-bottom: 1px #cccccc dashed;
}

/* Sticky Footer Code */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    margin-bottom: -80px;
}

#wrap:after {
    content: "";
    display: block;
}

footer,
#wrap:after {
    height: 80px;
}

footer {
    background: url(../images/pinkkidesign.png);
    border-top: 3px #ebbdbe solid;
    margin: 10px 0 10px 0;
}

footer p {
    color: black;
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
}


/* älypuhelin ja pienet tabletit */

@media only screen and (min-width: 240px) and (max-width: 767px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    /* Header */
    .main-header .logo {
        width: 60%;
        float: none;
        display: block;
        margin: auto;
    }

    .main-header .logo img {
        width: 100%;
        margin: auto;
    }

    /* Navigation */
    .main-header .main-nav {
        width: 100%;
        float: none;
        display: block;
        padding-top: 10px;
    }

    .main-header .main-nav ul {
        float: right;
        margin: 0;
        padding: 0;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .main-header .main-nav ul li {
        float: none;
        display: block;
        margin: 0;
    }

    .main-header .main-nav ul li a {
        display: block;
        padding: 10px 20px;
        border-bottom: 1px dashed #cccccc;
    }

    .main-header .main-nav li:last-child a {
        border: 0;
    }

    .main-header .main-nav ul li a:hover,
    .main-header .main-nav ul li a.active {
        border: 0;
        background: #e7e5e2;
        padding: 10px 20px;
    }

    /* Showcase */
    #showcase {
        text-align: center;
    }

    .showcase-right {
        width: 100%;
        float: none;
    }

    .showcase-right img {
        width: 100%;
    }

    .showcase-left {
        width: 100%;
        float: none;
    }

    /* slideshow */
    .slideshow-1 {
        margin: 50px auto;
        position: relative;
        width: 240px;
        height: 240px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .slideshow-1 > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    .slideshow-1 img {
        width: 100%;
        height: 100%;
        float: left;
        padding-top: 0px;
    }

    /*slideshow-2*/
    .slideshow-2 {
        margin: 0px auto;
        position: relative;
        width: 280px;
        height: 240px;
        padding: 0px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    }

    .slideshow-2 > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    .slideshow-2 img {
        width: 100%;
        height: 100%;
        float: left;
        padding-top: 0px;
    }

    /*slideshow-3*/
    .slideshow-3 {
        margin: 0px auto;
        position: relative;
        width: 280px;
        height: 240px;
        padding: 0px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    }

    .slideshow-3 > div {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    .slideshow-3 img {
        width: 100%;
        height: 100%;
        float: left;
        padding-top: 0px;
    }



    /* 3 Boxes */
    .box3 {
        width: 100%;
        float: none;
        clear: both;
        border-bottom: 1px #cccccc dashed;
    }

    .box3 img {
        float: left;
        padding: 5px 10px 0 0;
    }

    /* Main Content */
    #content {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
    }

    #sidebar {
        width: 95%;
        float: none;
        display: block;
        text-align: center;
    }

    .pull-right,
        {
        float: none;
        display: block;
    }
}

}

}
